@model BecomeManagerFormModel

@{
    ViewData["Title"] = "Become Manager";
}

<h2 style="text-align: center;">Become Manager</h2>
<form method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" placeholder="Georgi, Ivan..." type="text" required="required" class="form-control">
        <span asp-validation-for="Name" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber">Phone Number</label>
        <input asp-for="PhoneNumber" placeholder="+359895432783, +359795735789, etc..." type="text" required="required" class="form-control">
        <span asp-validation-for="PhoneNumber" class="small text-danger"></span>
    </div>

    <input class="btn btn-primary" type="submit" value="Save" />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}